include ../../components/form-container/form-container.pug

+fieldset-with-legend('Register', 'register')
    form(id="formRegister")
        #{name}
        #{surname}
        #{login}
        #{email}
        #{password}
        #{phone}
        #{button1}
        #{button2}
         