include ../../components/form-container/form-container.pug

+fieldset-with-legend('Change password', 'change_password')
    form(id="formChangePassword")
        #{old_password} 
        #{new_password} 
        #{confirm_password} 
        #{button1} 
        #{button2}
           