include ../../components/form-container/form-container.pug

+fieldset-with-legend('Account edit', 'account_edit', 'hidden')
    form(id="formAccountEdit")
        #{name}
        #{surname}
        #{display_name} 
        #{login} 
        #{email} 
        #{phone} 
        #{button1}
        #{button2}
